/* https://github.com/jreyes88/pureCSSModal/blob/master/css/modal.css was referenced */
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

body {
  font-family: "Fira Code", monospace;
  @supports (font-variation-settings: normal) {
    font-family: "Fira Code VF", monospace;
  }
}
p {
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.modal:before {
  content: "";
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal:target:before {
  display: block;
}

.modal:target .modal-container {
  top: 20%;

  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.modal-container {
  position: fixed;
  background-color: #fafafa;
  width: 70%;
  max-width: 400px;
  left: 50%;
  padding: 20px;
  border-radius: 5px;
  -webkit-transform: translate(-50%, -200%);
  -ms-transform: translate(-50%, -200%);
  transform: translate(-50%, -200%);
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
}

.modal-content {
  padding-top: 14px;
  text-align: center;
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: black;
  border-radius: 5px;
  height: 2.5vh;
  width: 2.5vh;
  text-align: center;
  color: white;
}

.modal-version {
  color: gray;
}
